<!DOCTYPE html>
<html ng-app="nameApp">
<head>
<meta charset="utf-8">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
   <script>
    var nameApp = angular.module('nameApp', []);
    nameApp.controller('NameCtrl',function($scope){
   	$scope.firstname="Jomy";
   	$scope.lastname="Jose";
   });

   </script>
	<title></title>
</head>
<body ng-controller='NameCtrl'>

    Name:<input ng-model="firstname" type="text"/>
    <br>
    Name:<input ng-model="lastname" type="text"/>
    <br>
	Hello {{firstname}} {{lastname}}

</body>
</html>